@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Montserrat-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

:root {
    --white: #ffffff;
    --black: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

nav {
    display: block;
}

body {
    background-color: var(--white);
}

html {
    font-family: 'Montserrat', sans-serif;
}

input, textarea, button, label {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1630px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.reset-btn {
    width: 275px;
    height: 57px;
    border-radius: 44.7435px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
}

.btn {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 21px;
    color: #7DDCFF;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #7DDCFF;
    color: #fff;
    box-shadow: rgba(93, 190, 227, 0.2);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    width: 100%;
    border-bottom: 1px solid #fff;
    z-index: 5;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 150px;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item:not(:last-child) {
    margin-right: 45px;
}

.header__link {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.header__item {
    position: relative;
}

.header__item:after {
    transition: opacity 0.3s ease-in-out;
}

.header__item:after {
    position: absolute;
    content: '';
    bottom: -33px;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 5px;
    opacity: 0;
}

.header__item:hover:after {
    opacity: 1;
}

.header__item-active:after {
    position: absolute;
    content: '';
    bottom: -33px;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 5px;
    opacity: 1;
}

.hero__container {
    height: 100vh;
    min-height: 780px;
    width: 100%;
    position: relative;
    padding: 0;
}

.hero-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.hero-img-one {
    background-image: url('../img/hero.jpg');
}

.hero-img-two {
    background-image: url('../img/hero2.jpg');
}

.hero-img-three {
    background-image: url('../img/hero3.jpg');
}

.hero__left {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 520px;
    width: 40%;
    background: rgba(93, 190, 227, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid #fff;
    height: 95%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 6;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__slider {
    margin-bottom: -30px;
    width: 100%;
    background-color: #fff;
    height: 100px;
    position: relative;
}

.hero__slider-img {
    position: absolute;
    top: -50px;
    left: 0;
    display: flex;
    align-items: center;
    width: 110%;
}

.slide {
    overflow: hidden;
}

.hero__slider-title {
    width: 43%;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

.slick-next {
    right: 73px;
}

.slick-prev {
    right: 110px;
    left: initial;
}

.slick-prev, .slick-next {
    top: 100%;
    width: 22px;
    height: 22px;
}

.slick-prev:before, .slick-next:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #7EDBFF;
    display: block;
    border-radius: 180px;
    z-index: 5;
}

.hero__slider-number {
    width: 5%;
    font-weight: bold;
    font-size: 14px;
    /* identical to box height */
    color: #000000;
}

.hero__logo {
    margin-bottom: 90px;
    display: block;
}

.number-gray {
    font-weight: bold;
    font-size: 10px;
    color: #828282;
}

.hero__title {
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.hero__descr {
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.hero__slider {
    display: flex;
    align-items: center;
    padding: 50px 25px 25px 25px;
}

.about {
    padding: 150px 0;
}

.about__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__left {
    width: 30%;
    padding-right: 50px;
}

.about__left-title {
    font-weight: bold;
    font-size: 40px;
    color: #000000;
    margin-bottom: 45px;
}

.about__left-descr:not(:last-child) {
    margin-bottom: 25px;
}

.about__left-descr {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
}

.about__right {
    width: 70%;
}

.about__right-img {
    position: relative;
}

.about-img {
    filter: drop-shadow(0px 20.6545px 20.6545px rgba(18, 35, 41, 0.2));
    border-radius: 6.88485px;
}

.about__right-tabs {
    position: absolute;
    bottom: -50px;
    width: 80%;
    height: 100px;
    background-color: #fff;
    left: 50%;
    transform: translate(-50%);
    padding: 40px;
}

.header-active {
    background-color: #7DDCFF;
    z-index: 999;
}

.tabs__content {
    visibility: hidden;
    position: absolute;
    height: 90%;
    top: 50%;
    left: 1000px;
    transform: translate(0, -50%);
    opacity: 0;
    font-size: 0;
    transition: all 0.5s ease-in-out;
    display: flex;
    width: 100vw;
}

.tabs__content--active {
    visibility: visible;
    left: -150px;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.tabs-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    padding: 20px;
    max-width: 613px;
    background-color: #fff;
    box-shadow: 0px 3.74999px 41.2499px rgb(0 0 0 / 10%);
}

.tabs-wrapper>img {
    max-height: 560px;
    min-height: 560px;
    margin-bottom: 25px;
    object-fit: cover;
}

.tabs-wrapper-none {
    /* width: 100%;
    height: 100%; */
    background-size: cover;
    background: linear-gradient(0deg, rgba(206, 243, 255, 0.9), rgba(206, 243, 255, 0.9)), url('../img/number2.jpg');
}

.tabs__btn {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 17.2121px;
    color: #000000;
    cursor: pointer;
}

.tabs__list {
    display: flex;
    align-items: center;
}

.tabs-number {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 17.2121px;
    color: #000000;
    width: 30px;
    font-weight: 700;
    margin-right: 20px;
}

.tabs__btn--active~.tabs-number {
    opacity: 1;
}

.tabs__item:not(:last-child) {
    margin-right: 25px;
}

.tabs__btn--active {
    font-weight: 700;
}

.line {
    display: block;
    width: 100%;
}

.advantage {
    padding: 70px 0;
    background-color: #F2FCFF;
}

.advantage__list {
    display: flex;
    justify-content: space-between;
}

.advantage__item {
    padding: 30px;
    width: 23%;
    display: flex;
    align-items: center;
}

.advantage__icon {
    margin-right: 15px;
}

.advantage__title {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    display: block;
    margin-bottom: 7px;
}

.advantage__wrapper {
    display: flex;
    flex-direction: column;
}

.advantage__descr {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.number {
    padding: 150px 0;
    padding-bottom: 260px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 45px rgb(33 101 114 / 20%);
}

.number__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number__left {
    width: 30%;
    padding: 50px 0;
}

.number__right {
    position: absolute;
    right: 0;
    top: 100px;
}

.number__right:before {
    content: 'Крым';
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 233.556px;
    line-height: 285px;
    color: #000000;
    opacity: 0.1;
    transform: rotate( -90deg) translate(-20%, -95%);
    position: absolute;
    left: -32%;
    bottom: 50%;
}

.number__title {
    font-weight: bold;
    font-size: 50px;
    color: #80DBFF;
    margin-bottom: 50px;
}

.number__btn {
    color: #525252;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.number__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}

.number__item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.number__item:not(:last-child) {
    margin-bottom: 25px;
}

.number__descr {
    font-size: 20.6249px;
    line-height: 30px;
    color: #000000;
}

.restoran {
    padding: 150px 0;
    position: relative;
}

.restoran__container {
    display: flex;
    align-items: center;
}

.restoran__left {
    width: 30%;
}

.restoran__right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    background-image: url('../img/blue-fon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.restoran__title {
    font-weight: bold;
    font-size: 50px;
    color: #80DBFF;
    margin-bottom: 25px;
}

.restoran__descr {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #6A6A6A;
}